@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.MuiAutocomplete-noOptions {
  display: none;
}
